.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.formRow {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.error {
  color: #a00;
  font-size: 14px;
  font-weight: bold;
}
